:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #F5F4FA;
    /* gallery */
    --gallery-cards-gap: 30px;
    --gallery-text-wrapper-padding-top-bottom: 18px;
    --gallery-text-wrapper-padding-left-right: 24px;
    /* gallery big */
    --gallery-big-text-wrapper-padding-top-bottom: 30px;
    --gallery-big-text-wrapper-padding-left-right: 30px;
}